<section>
    <main class="flex flex-wrap">
        <ng-container *ngFor="let item of planetMap.map; index as i;">
            <div class="h-16 w-16 rounded m-1 p-2 overflow-hidden text-center text-sm"
                [ngClass]="{
                    'bg-nichts':item.planetData.ground=='UNKNOWN'||item.planetData.ground=='NICHTS',
                    'bg-wasser': item.planetData.ground=='WASSER',
                    'bg-sand': item.planetData.ground=='SAND',
                    'bg-geroell': item.planetData.ground=='GEROELL',
                    'bg-fels': item.planetData.ground=='FELS',
                    'bg-lava': item.planetData.ground=='LAVA',
                    'bg-pflanzen': item.planetData.ground=='PFLANZEN',
                    'bg-morast': item.planetData.ground=='MORAST'
                }">
                <div class="relative">
                  <img *ngIf="item.robotDir" class="absolute" src="{{ 'assets/' + item.robotDir + '.png' }}">
                  <span *ngIf="item.robotId" class="absolute custom-offset text-2xl text-rot">{{ item.robotId }}</span>
                </div>
            </div>
            <div [ngClass]="{'basis-full': i%planetMap.width == planetMap.width-1}"></div>
        </ng-container>
    </main>
</section>
