<section>
    <main class="flex flex-wrap">
        <ng-container *ngFor="let item of planetMap.map; index as i;">
            <div class="h-16 w-16 rounded m-1 p-2 overflow-hidden" 
                [ngClass]="{
                    'bg-nichts':item=='UNKNOWN'||item=='NICHTS',
                    'bg-wasser': item=='WASSER',
                    'bg-sand': item=='SAND',
                    'bg-geroell': item=='GEROELL',
                    'bg-fels': item=='FELS',
                    'bg-lava': item=='LAVA',
                    'bg-pflanzen': item=='PFLANZEN',
                    'bg-morast': item=='MORAST'
                }">
            </div>
            <div [ngClass]="{'basis-full': i%planetMap.width == planetMap.width-1}"></div>
        </ng-container>
    </main>
</section>