<section class="w-full bg-primary-800 flex justify-center">
  <main class="flex justify-between items-end p-3 max-w-screen-xl w-full">
    <header routerLink="home" class="flex items-center border rounded-lg bg-secondary-50 border-secondary p-2 cursor-pointer">
      <img src="../../assets/exo.png" alt="Logo" width="50" height="50">
      <span class="text-3xl text-primary-800 ml-2" style="font-family: cursive;">Karlsruhe Dynamics’</span>
    </header>
    <nav class="flex text-secondary-50">
      <a routerLink="home" class="m-2">
        Startseite
      </a>
      <a routerLink="tables" class="m-2">
        Tabellen
      </a>
      <a routerLink="map" class="m-2">
        Karte
      </a>
    </nav>
  </main>
</section>
