<p class="my-2">Karlsruhe Dynamics' mission is to imagine and create exceptional robots that enrich people's lives. Building machines that can approximate the mobility, dexterity and agility of people and animals is a grand challenge. Curiosity and respect for the natural world are at the heart of our work on robots. We see products derived from this work as the next step in the human history of building machines to reduce the danger, repetition and physically difficult aspects of work.</p>

<h2 >FAQS ABOUT KARLSRUHE DYNAMICS</h2>
<ul class="list-disc text-sm m-2">
  <li>
		<a href="#header1">WHY DOES KARLSRUHE DYNAMICS MAKE LEGGED ROBOTS?</a>
	</li>

  <li>
		<a href="#header2">WHAT MAKES KARLSRUHE DYNAMICS UNIQUE?</a>
	</li>

  <li>
		<a  href="#header3">WHEN CAN I BUY A ROBOT?</a>
	</li>

  <li>
		<a  href="#header4">WHAT ARE YOUR TERMS OF SALE FOR SPOT?</a>
	</li>

  <li>
		<a  href="#header5">ARE THERE ANY LIMITATIONS YOU PUT ON THE SALE OF YOUR PRODUCTS?</a>
	</li>

  <li>
		<a  href="#header6">WHAT PRINCIPLES GUIDE YOUR DECISIONS ABOUT THE DEVELOPMENT AND SALE OF YOUR PRODUCTS?</a>
	</li>

  <li>
		<a  href="#header7">DO KARLSRUHE DYNAMICS' ROBOTS USE ARTIFICIAL INTELLIGENCE?</a>
	</li>

  <li>
		<a  href="#header8">HOW IS SPOT BEING USED BY POLICE DEPARTMENTS?</a>
	</li>

  <li>
		<a  href="#header9">CAN SPOT BE USED TO CONDUCT MASS SURVEILLANCE?</a>
	</li>

  <li>
		<a  href="#header10">ARE YOUR ROBOTS CURRENTLY BEING USED BY THE MILITARY?</a>
	</li>

  <li>
		<a  href="#header11">WHEN WILL YOUR ROBOTS BE AVAILABLE FOR SALE FOR CONSUMER USE?</a>
	</li>

  <li>
		<a  href="#header12">WILL YOUR ROBOTS BE MODIFIED FOR IN-HOME USE?</a>
	</li>

  <li>
		<a  href="#header13">WHERE ARE YOUR ROBOTS MADE?</a>
	</li>

  <li>
		<a  href="#header14">WHO FUNDS KARLSRUHE DYNAMICS? CAN I BUY STOCK?</a>
	</li>
</ul>

<h3 id="header1">WHY DOES KARLSRUHE DYNAMICS MAKE LEGGED ROBOTS?</h3>

<p>Karlsruhe Dynamics focuses on creating robots with advanced mobility, dexterity and intelligence. We have long held that mobility sufficient to access both the natural and the built world required legs. We began the pursuit of this dream over 30 years ago, first in academia and then as part of Karlsruhe Dynamics because it was an exciting technical challenge and because our goal of  building a highly mobile robot required it. We wanted to build a robot that could go where people go. The commonly referred to “dull, dirty and dangerous” tasks don't occur solely on a neatly organized factory floor, they pop up in the natural world and human-built environments.  These are places where being effective requires deftly maneuvering through rocky trails, staircases, catwalks, doors or narrow cluttered passages.</p>

<p>While we take the natural world as inspiration for our robots, the design is ultimately motivated by functionality. Our robots end up moving like humans and animals not because we designed them to look like humans and animals but because we made them balance. Balance and dynamic motion are characteristics we have previously only seen in animals. It is this organic quality of dynamically stable motion that people tend to associate with lifelike movement. Partly because of the benefits of dynamic motion, our robots can navigate tough unstructured, unknown or antagonistic terrain with ease. Wheeled and tracked robots are limited by stairs, gaps, ground-level obstructions such as cabling and staged materials and minor height differences in flooring. These environments don't present the same challenges for legged robots.</p>

<h3 id="header2">WHAT MAKES KARLSRUHE DYNAMICS UNIQUE?</h3>

<p>One of the things that makes Karlsruhe Dynamics unique is the ambition to build dynamically stable, legged machines. Marc Raibert began tackling this problem before anyone else in the world. And we've been at it since, almost 35 years. We've been inspired by and worked towards this goal for so long that we have invented techniques to make robots work that you can't find in any textbook or technical article. The result is that we now know how to build walking machines of any size, shape, actuator style or powerplant. These unique designs enable our robots to conquer terrains inaccessible to others, and perform automated tasks in unstructured environments.</p>

<h3 id="header3">WHEN CAN I BUY A ROBOT?</h3>

<p>Spot is available for commercial purchase by contacting our sales team. You can also contact our sales team about Stretch, our mobile robot for case handling in the warehouse, scheduled to be available for commercial purchase in 2022.</p>

<h3 id="header4">WHAT ARE YOUR TERMS OF SALE FOR SPOT?</h3>

<p>We take great care to make sure our customers intend to use our robots legally. We cross-check every purchase request against the U.S. Government's denied persons and entities lists, prior to authorizing a sale. In addition, all buyers must agree to our Terms and Conditions of Sale, which state that our products must be used in compliance with the law, and cannot be used to harm or intimidate people or animals, or be used as a weapon or configured to hold a weapon. Any violation of our Terms will automatically void the product's warranty and prevent the robot from being updated, serviced, repaired or replaced.</p>

<h3 id="header5">ARE THERE ANY LIMITATIONS YOU PUT ON THE SALE OF YOUR PRODUCTS?</h3>

<p>Our products are available for sale for commercial, industrial, enterprise and university research uses. Our products are not intended for purchase by individuals for non-commercial use.</p>

<h3 id="header6">WHAT PRINCIPLES GUIDE YOUR DECISIONS ABOUT THE DEVELOPMENT AND SALE OF YOUR PRODUCTS?</h3>

<p>Our mission is to imagine and create exceptional robots that enrich people's lives. By building robots that have the mobility, dexterity and perception required to contribute to our modern society we strive to create a future in which humans and machines work together to improve everyone's safety, productivity and quality of life. Read more about the ethical principles that guide our business.</p>

<h3 id="header7">DO KARLSRUHE DYNAMICS' ROBOTS USE ARTIFICIAL INTELLIGENCE?</h3>

<p>Out-of-the-box, Spot has an inherent sense of balance and perception that enables it to walk steadily on a wide variety of terrains.  This form of AI that we call “athletic intelligence” allows Spot to walk, climb stairs, avoid obstacles, traverse difficult terrain, and autonomously follow preset routes with little or no input from users.</p>

<h3 id="header8">HOW IS SPOT BEING USED BY POLICE DEPARTMENTS?</h3>

<p>Police and fire departments are using Spot to get remote visibility into potentially dangerous situations. By remotely assessing a scene before taking action, police can make more informed decisions that reduce risk, improve safety, and de-escalate conflict.</p>

<p>Police departments use Spot to inspect suspicious packages and environments for hazardous materials or explosives, assess hostile threats remotely, and to search structurally dangerous environments in emergency response scenarios. We believe that our robots can be used to keep first responders and the public safe. Learn more about the ethical principles that guide our policies for public safety use cases.</p>

<h3 id="header9">CAN SPOT BE USED TO CONDUCT MASS SURVEILLANCE?</h3>

<p>No. Spot is not designed to conduct mass surveillance, or to replace police officers. We will not authorize nor partner with those who wish to use our robots in a way that violates privacy and civil rights laws. We understand that emerging artificial intelligence technologies including computer vision and personal identification algorithms raise questions about the ethics, legality, and potential for bias around their use in the public sphere.</p>

<h3 id="header10">ARE YOUR ROBOTS CURRENTLY BEING USED BY THE MILITARY?</h3>

<p>Spot is a general purpose robot with broad applications, including potential military uses which could include remote inspection of hazardous environments, rescue operations, or logistics operations. But our robots are not made specifically for any particular government or military purpose. As stated in our ethical principles, we will not authorize nor partner with those who wish to use our robots as weapons or autonomous targeting systems.</p>

<p>All buyers are prohibited from such use as stated clearly in our Terms and Conditions of Sale, which prohibit weaponizing our robots. If our products are being used for harm, we will take appropriate measures to mitigate that misuse.</p>

<h3 id="header11">WHEN WILL YOUR ROBOTS BE AVAILABLE FOR SALE FOR CONSUMER USE?</h3>

<p>Our products are currently designed for industrial and commercial use. As our products and technology mature, we believe robot capabilities will continue to increase and costs decrease to the point that we will be able to offer useful and delightful consumer level products. We are as excited as you are about helpful robots in our daily lives, and with the support of our customers we will get there in the not too distant future.</p>

<h3 id="header12">WILL YOUR ROBOTS BE MODIFIED FOR IN-HOME USE?</h3>

<p>Spot is a powerful, 65 lb. industrial robot. It is intended for industrial and commercial use, by individuals with proper training who operate it in accordance with its user guide. This version is not intended for use in the home, or by children or others who cannot operate it responsibly. However, we may explore consumer-facing applications of a future variant of this robot or others.</p>

<h3 id="header13">WHERE ARE YOUR ROBOTS MADE?</h3>

<p>Our robots are designed and perfected in our office in Waltham, Massachusetts and are made in the United States.</p>

<h3 id="header14">WHO FUNDS KARLSRUHE DYNAMICS? CAN I BUY STOCK?</h3>

<p class="mb-4">In June 2021, Hyundai Motor Group acquired a majority interest in Karlsruhe Dynamics and now holds an 80 percent stake in the company. SoftBank, through one of its affiliates, holds the remaining 20 percent. Karlsruhe Dynamics operates as an independent business within the larger Hyundai portfolio.</p>

